body {background:#111;margin:0;}

div#back {
	height: 35px;
	padding: 20px;
	background: #2E2E2E;
	border-bottom: 1px solid #383838;
}

div#container {
	padding: 10px 10px 0 10px;
	background: #2E2E2E;
	border: 1px solid #383838;
	border-top: none;
	border-bottom: none;
	border-radius: 0;
	width: 80%;
	margin: 0 auto auto auto;
}

div#inner-body {
	padding: 20px;
	background: url(http://subtlepatterns.com/patterns/office.png);
	border-radius: 3px;
	border: 1px solid #111;
	box-shadow: inset 0px 5px 10px -5px #000, inset 0px -5px 10px -5px #000;
}

div#lst-mnu {
	padding: 15px 10px 10px 10px;
	background: #2E2E2E;
	border-left: 1px solid #383838;
	border-right: 1px solid #383838;
	border-top: 1px solid #383838;
	margin: 20px auto auto auto;
	width: 80%;
	border-radius: 3px 3px 0 0;
}

div#lst-mnu > a {
	padding: 10px 20px;
	border: 1px solid #111;
	border-radius: 3px;
	box-shadow: inset 0px 5px 10px -5px #000, inset 0px -5px 10px -5px #000, 0 0 5px -2px #000;
	background-image: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	color: #FFF;
	font-family: droid sans,sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	letter-spacing: 2px;
}

div#cntr-foot {
	padding: 10px;
	background: #2E2E2E;
	margin: auto;
	width: 80%;
	border: 1px solid #383838;
	border-top: none;
	border-radius: 0 0 3px 3px;
	text-align: right;
	font-family: 'Raleway';
	color: #FFF;
}

div#cat {box-shadow:0 0 10px -2px #000;}
div#cat.closed > div.cname {border-radius: 3px;}
div#cat.closed > div.cbody, div#cat.closed > div.cfoot {display:none;}

div.cname > a.togglecat[href="javascript:;"] {
	float: right;
	text-decoration: none;
	color: #FFF;
}

div.cname {
	background: linear-gradient(#111 -75%, #2ecc71 50%);
	border: 1px solid #111;
	padding: 10px;
	border-radius: 3px 3px 0 0;
	font-family: droid sans, sans-serif;
	color: #FFF;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

div.cbody {
	background: #222;
	padding: 10px;
	border: 1px solid #111;
	border-top: none;
	color: #FFF;
	text-decoration: none;
	font-family: 'Raleway';
}

div.cfoot {
	padding: 15px 10px;
	background: linear-gradient(#2ecc71 50%,#111 175%);
	border: 1px solid #111;
	border-top: none;
	border-radius: 0 0 3px 3px;
}

div#alert {
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #FFF;
	font-family: 'Raleway';
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #111;
	box-shadow: 0 0 10px #000;
	display: none;
}

div#alert > div.part-left {
	display: inline-block;
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	padding: 10px;
	font-family: droid sans,sans-serif;
}

div#alert > div.part-right {
	display: inline-block;
	padding: 10px;
	background: #222;
}

form.state-form {
	background: #2E2E2E;
	padding: 10px;
	display: block;
	width: 50%;
	text-align: center;
	margin: auto;
	border: 1px solid #383838;
	border-radius: 3px;
	box-shadow: 0 0 10px -2px #000;
}

form.state-form > div {display:inline-block;}

form.state-form > div > div.required-field {
	display: inline-block;
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	padding: 10px;
	color: #FFF;
	font-family: 'Raleway';
	text-shadow: 0 0 0;
	border-radius: 3px;
	border: 1px solid #111;
	font-size: 15px;
	width: 90px;
	text-align: center;
}

form.state-form > div > input.required {
	display: inline-block;
	background: linear-gradient(#111 -175%, #222 50%, #111 175%);
	border-radius: 3px;
	padding: 10px;
	outline: none;
	text-align: center;
	font-family: 'Raleway';
	font-size: 15px;
	color: #2eec71;
	text-shadow: 0 0 0;
	border: 1px solid #111;
	display: inherit;
	width: 250px;
}

form.state-form > input[type="submit"] {
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	padding: 10px 20px;
	border: 1px solid #111;
	border-radius: 3px;
	color: #FFF;
	font-family: 'Raleway';
	font-size: 15px;
	text-shadow: 0 0 0;
	cursor: pointer;
}
