
body {background:#111;margin:0;}

div#back {
	height: 35px;
	padding: 20px;
	background: #2E2E2E;
	border-bottom: 1px solid #383838;
}

div#container {
	padding: 10px 10px 0 10px;
	background: #2E2E2E;
	border: 1px solid #383838;
	border-top: none;
	border-bottom: none;
	border-radius: 0;
	width: 80%;
	margin: 0 auto auto auto;
}

div#inner-body {
	padding: 20px;
	background: url(http://subtlepatterns.com/patterns/office.png);
	border-radius: 3px;
	border: 1px solid #111;
	box-shadow: inset 0px 5px 10px -5px #000, inset 0px -5px 10px -5px #000;
}

div#lst-mnu {
	padding: 15px 10px 10px 10px;
	background: #2E2E2E;
	border-left: 1px solid #383838;
	border-right: 1px solid #383838;
	border-top: 1px solid #383838;
	margin: 20px auto auto auto;
	width: 80%;
	border-radius: 3px 3px 0 0;
}

div#lst-mnu > a {
	padding: 10px 20px;
	border: 1px solid #111;
	border-radius: 3px;
	box-shadow: inset 0px 5px 10px -5px #000, inset 0px -5px 10px -5px #000, 0 0 5px -2px #000;
	background-image: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	color: #FFF;
	font-family: droid sans,sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	letter-spacing: 2px;
}

div#cntr-foot {
	padding: 10px;
	background: #2E2E2E;
	margin: auto;
	width: 80%;
	border: 1px solid #383838;
	border-top: none;
	border-radius: 0 0 3px 3px;
	text-align: right;
	font-family: 'Raleway';
	color: #FFF;
}

div#cat {box-shadow:0 0 10px -2px #000;}
div#cat.closed > div.catbody {display:none;}

div.cname > a.togglecat[href="javascript:;"] {
	float: right;
	text-decoration: none;
	color: #FFF;
}

div.cname {
	background: linear-gradient(#111 -75%, #2ecc71 50%);
	border: 1px solid #111;
	padding: 10px;
	border-radius: 3px 3px 0 0;
	font-family: droid sans, sans-serif;
	color: #FFF;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

div.cbody {
	background: #222;
	padding: 10px;
	border: 1px solid #111;
	border-top: none;
	color: #FFF;
	text-decoration: none;
	font-family: 'Raleway';
}

div.cbody > a {font-family:inherit;color:inherit;text-decoration: none;}

div.cfoot {
	padding: 15px 10px;
	background: linear-gradient(#2ecc71 50%,#111 175%);
	border: 1px solid #111;
	border-top: none;
	border-radius: 0 0 3px 3px;
}

div#alert {
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #FFF;
	font-family: 'Raleway';
	overflow: hidden;
	border: 1px solid #111;
	display: none;
}

div#alert > div.part-left {
	display: inline-block;
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	padding: 10px;
	font-family: droid sans,sans-serif;
}

div#alert > div.part-right {
	display: inline-block;
	padding: 10px;
	background: #222;
}

form.state-form {
	background: #2E2E2E;
	padding: 10px;
	display: block;
	width: 50%;
	text-align: center;
	margin: auto;
	border: 1px solid #383838;
	border-radius: 3px;
	box-shadow: 0 0 10px -2px #000;
}

form.state-form > div,
form.usercp-form > div,
form.usercp-form > div > div {display:inline-block;}

form.usercp-form  > div {
	padding: 10px;
	border-right: 1px solid #222;
	margin-left: 5px;
	margin-top: 5px;
}

form.state-form > div > div.required-field,
form.usercp-form > div > div > div.optional-field {
	display: inline-block;
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	padding: 10px;
	color: #FFF;
	font-family: 'Raleway';
	text-shadow: 0 0 0;
	border-radius: 3px;
	border: 1px solid #111;
	font-size: 15px;
	min-width: 90px;
	text-align: center;
}

form.state-form > div > input.required,
form.usercp-form > div > div > input.form-optional {
	background: linear-gradient(#111 -175%, #222 50%, #111 175%);
	border-radius: 3px;
	padding: 10px;
	outline: none;
	text-align: center;
	font-family: 'Raleway';
	font-size: 15px;
	color: #2eec71;
	text-shadow: 0 0 0;
	border: 1px solid #111;
	display: inherit;
	width: 250px;
}

form.state-form > input[type="submit"],
form.usercp-form > div > div > input[type="submit"] {
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	padding: 10px 20px;
	border: 1px solid #111;
	border-radius: 3px;
	color: #FFF;
	font-family: 'Raleway';
	font-size: 15px;
	text-shadow: 0 0 0;
	cursor: pointer;
	outline: none;
}

div#content {
	background: #2E2E2E;
	padding: 10px;
	display: block;
	text-align: center;
	margin: auto;
	border: 1px solid #383838;
	border-radius: 3px;
	box-shadow: 0 0 10px -2px #000;
}


div#content > div.username {
	border-bottom: 1px solid #2ecc71;
	padding: 10px;
	box-shadow: 0px 8px 10px -10px #2ecc71;
	text-align: left;
	color: #FFF;
	font-family: 'Raleway';
}

div#content > div.username > span {
	float: right;
}

div#content > img {
	height: 75px;
	width: 75px;
	border-radius: 3px;
	border: 1px solid #111;
	background-color: #111;
	box-shadow: 0 0 10px -2px #000;
	margin-bottom: -13px;
}

div#content a:not(.prot) {
	padding: 5px 10px;
	border: 1px solid #111;
	border-radius: 3px;
	box-shadow: inset 0px 5px 10px -5px #000, inset 0px -5px 10px -5px #000, 0 0 5px -2px #000;
	background-image: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	color: #FFF;
	font-family: 'Raleway';
	text-transform: uppercase;
	text-shadow: 0 0 0;
	text-decoration: none;
	font-size: 15px;
}

div#content a.prot {
	color: #FFF;
	font-family: 'Raleway';
	text-shadow: 0 0 0;
	text-decoration: none;
	font-size: 15px;
}

div#content > div.cp {
	text-align: left;
}

div#profile-break {
	display: inline-block;
}

div.mem-box {
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	padding: 8px;
	border: 1px solid #111;
	border-radius: 3px;
	font-family: 'Raleway';
	color: #FFF;
	font-size: 15px;
	min-width: 115px;
	display: inline-block;
	margin: 0 0 0 5px;
	text-shadow: 0 0 0;
	box-shadow: 0 0 10px -2px #000;
	text-align: center;
}

div#profile-break > div.mem-box:first-child {margin-bottom:5px;}

div#error {
	background: #2E2E2E;
	padding: 10px;
	display: block;
	text-align: center;
	margin: auto;
	border: 1px solid #383838;
	border-radius: 3px;
	box-shadow: 0 0 10px -2px #000;
	font-family:'Raleway';
	color:#FFF;
	font-size: 20px;
}

img.userimg {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 1px solid #111;
	box-shadow: 0px 0px 10px -2px #111;
}

form.search-form {
	float: right;
	margin-top: -8px;
	box-shadow: 0 0 10px -2px #000;
}

form.search-form > input[type="text"] {
	border: 1px solid #111;
	padding: 10px;
	background: #222;
	border-radius: 3px 0 0 3px;
	color: #2eec71;
	outline: none;
}

form.search-form > input[type="submit"] {
	border: 1px solid #111;
	padding: 10px;
	border-radius: 0 3px 3px 0;
	border-left: none;
	color: #FFF;
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	font-family: 'Raleway';
	text-shadow: 0 0 0;
	font-size: 13px;
	text-transform: uppercase;
	outline: none;
}

div.header {
	background: linear-gradient(#111 -75%, #2ecc71 50%, #111 175%);
	padding: 10px;
	text-align: left;
	font-family: 'Raleway';
	text-shadow: 0 0 0;
	color: #FFF;
	border: 1px solid #111;
	border-radius: 3px 3px 0 0;
}

div.follow-head > div.result {
	background: #222;
	padding: 10px;
	text-align: left;
	color: #FFF;
	font-family: 'Raleway';
	border: 1px solid #111;
	border-top: 0;
}

div.follow-head > div.result:last-child {
	border-radius: 0 0 3px 3px;
	margin: 0 0 5px 0;
}
