<html>
	<head>
		<title>{[forumname]}</title>
		<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
		<link href="{[forumurl]}/css/global.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{[forumurl]}/js/global.js"></script>
	</head>
	<body>
		<div id="back">
			<span style="font-family: 'Raleway';color: #FFF;font-size: 30px;">PythoBB v2</span>
		</div>
                <div id="lst-mnu">
                	{[userblock]}
		</div>
		<div id="container">
			<div id="inner-body">
				{[forums]}
			</div>
		</div>
		<div id="cntr-foot">
			Powered by PythoBB
		</div>
	</body>
</html>
