<div class="makepost" style="display:none;" id="tid-{[tid]}">
					<div class="abvpostopt">
						<input type="text" class="title" value="RE: {[threadname]}">
						<a href="javascript:;" style="float:right;border-left:1px solid #111;border-right:0;padding:10px 10px 11px 10px;" class="cancelpost">Cancel</a>
					</div>
					<textarea class="fieldtext"></textarea>
					<div class="newpostopt">
						<a href="javascript:;" class="post" style="float:right;border-right:0;border-left: 1px solid #111;margin-top:-10px;">Post</a>
						<a href="javascript:;" class="b">Bold</a><a href="javascript:;" class="i">Italic</a><a href="javascript:;" class="img">Image</a>
					</div>
				</div>
